<div class="misc-content">
	<div id="about">
		<h1>ABOUT</h1>
		<p>
			SNAKE is about slithering your way towards apples to grow! The concept 
			originated from a 1976 two-player arcade game called Blockade, 
			from Gremlin Industries. Throughout the years, there's been a multitude 
			of SNAKE variations (including a version on the Nokia mobile phones in 1998!). 
			<a href="https://en.wikipedia.org/wiki/Snake_(video_game_genre)" target="_blank">
			Wikipedia link
			</a> 
		</p>
	</div>
	<div id="objective">
		<h1>OBJECTIVE</h1>
		<p>
			Eat as many apples as you can, while avoiding the edges of the game area and
			yourself!
		</p>
	</div>
</div>