<div class="game-container flexitem">
<!--	<div class="game-header"><h2 id="game-score">Game score: 0</h2></div> -->
	<div class="game">
		<script src="game.js" charset="utf-8" defer></script>
		<canvas width="400" height="400" id="game-window">
		</canvas>
	</div>
	<div class="game-footer"><h2 id="game-score">Game score: 0</h2></div>
</div>	