<script src="game.js" charset="utf-8" defer></script>

<div class="game-container item">
	<div class="game-header"><h2 id="game-score">Game score: 0</h2></div>
	<div class="game">
		<canvas width="400" height="400" 
		style="border:1px solid  #000000" id="game-window">
		</canvas>
	</div>
</div>