<div class="help-container item">
	<div class="help-header"><h2>Help</h2></div>
	<div class="item-text">
		<p>Arrow keys to move</p>
		<p>Collect apples for points</p>
		<p>Avoid the edges of the game space</p>
	</div>
</div>