<div class="help-container flexitem">
	<div class="help-header"><h2>Help</h2></div>
	<div class="item-text">
		<p>Use Arrow keys &#9664; &#9650; &#9660; &#9654; to move</p>
		<p>Collect apples for 10 points</p>
		<p>Avoid the edges and yourself!</p>
	</div>
</div>