<div class="options-container flexitem">
	<div class="options-header"><h2>Options</h2></div>
	<div class="options-body">
		<label for="snake-colors">Snake color: </label>
		<select id="snake-colors">
			<option value="green">Green (default)</option>
			<option value="red">Red</option>
			<option value="yellow">Yellow</option>
			<option value="orange">Orange</option>
			<option value="blue">Blue</option>
			<option value="purple">Purple</option>
		</select>
		<br><br>
		<label for="food-colors">Food color: </label>
		<select id="food-colors">
			<option value="red">Red (default)</option>			
			<option value="green">Green</option>
			<option value="yellow">Yellow</option>
			<option value="orange">Orange</option>
			<option value="blue">Blue</option>
			<option value="purple">Purple</option>
		</select>
		<br><br>
		<button type="button" id="scene-button">Dark Mode</button>
		<br><br>
		<button type="button" id="controls-button">Change to WASD controls</button>
		<br><br>
		<button type="button" id="defaults-button">Reset to Defaults</button>
		<br>
	</div>
</div>