<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="search-service.js"></script>

<div class="scores-container item">

	<div class="scores-header"><h2>Rankings</h2></div>
	<div class="search-module">
	<input type="text" id="scores-search-input" placeholder="Search...">
	<button type="button" id="scores-search-button">O</button>
	</div>
	<ol id="scores">
		{{#each user_data}}
			<li>{{name}} : {{score}}</li>
		{{/each}}
	</ol>
</div>