<div id="modal-background" class="hidden"></div>
<div id="add-user-modal" class="hidden">
	<div class="modal-dialogue">

		<div class="modal-header">
			<h2>Add ranking</h2>
			<button type="button" class="modal-close-button"></button>
		</div>

		<div class="modal-body">
			<div class="name-input">
				<label for="name-input-text">Name: 
					<input type="text" name="name-input-text" id="name-input-textfield"
					size="10" maxlength="10" required="required" />
				</label>
				
				<p id="user-score">You scored: n/a</p>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="cancel-add-user">Cancel</button>
			<button type="button" class="accept-add-user">Add ranking</button>
		</div>
	</div>
</div>

<div id="confirm-quit-modal" class="hidden">
	<div class="modal-dialogue">

		<div class="modal-header">
			<h2>Add ranking</h2>
			<button type="button" class="modal-close-button"></button>
		</div>

		<div class="modal-body">
			<div class="name-input">
				<label for="name-input-text">Are you sure you don't want to add to leaderboards?</label>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="confirm-cancel">No</button>
			<button type="button" class="confirm-accept">Yes</button>
		</div>

	</div>
</div>