<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SNAKE</title>

		<link rel="stylesheet" href="/style.css" media="screen">

	</head>

	<body>
		<header>
			<a class="site-title" href="#"><h1 class="site-title"></i>SNAKE GAME</h1></a>

<!--			<nav class="navbar">
				<ul class="navlist">
					<li class="navitem navlink active"><a href="#">Home</a></li>
					<li class="navitem navlink"><a href="#">About</a></li>
					<li class="navitem navlink"><a href="#">Leaderboards</a></li>
				</ul>
			</nav>
-->	
		</header>

		{{{body}}}

	</body>
</html>