<div class="body-container">
	<div class="help-container item">
		<div class="help-header"><h2>Help</h2></div>
		<p>Arrow keys to move</p>
		<p>Collect apples for points</p>
		<p>Avoid borders</p>
	</div>

	<div class="game-container item">
		<h2>Game</h2>
		<canvas width="300" height="300" 
		style="border:1px solid  #000000"id="game-window">
		</canvas>

	</div>

	<div class="scores-container item">

		<div class="scores-header"><h2>Leaderboards</h2></div>
		<ol id="scores">

		</ol>
	</div>

</div>
