<div class="body-container">
	<div class="help-container item">
		<div class="help-header"><h2>Help</h2></div>
		<div class="item-text">
			<p>Arrow keys to move</p>
			<p>Collect apples for points</p>
			<p>Avoid borders</p>
		</div>
	</div>

	<div class="game-container item">
		<div class="game-header"><h2>Game</h2></div>
		<div class="game">
			<canvas width="300" height="300" 
			style="border:1px solid  #000000" id="game-window">
			</canvas>
		</div>

	</div>

	<div class="scores-container item">

		<div class="scores-header"><h2>Rankings</h2></div>
		<ol id="scores">
			<li>John - 100</li>
			<li>Bob - 94</li>
			<li>Cesar - 91</li>
			<li>Cam - 80</li>
		</ol>
	</div>

</div>
