
<script src="index.js" charset="utf-8" defer></script>

<div class="body-container">
	{{#> options}}
		<h1>options hbs is missing!</h1>
	{{/options}}
	{{#> game}}
		<h1>Game hbs is missing!</h1>
	{{/game}}
	{{#> scores}}
		<h1>Scores hbs is missing!</h1>
	{{/scores}}
</div>

{{#> user-modals}}
	<h1>User modal is missing!</h1>
{{/user-modals}}

{{#> about}}
	<h1>About hbs is missing!</h1>
{{/about}}